{
  "Comment": "A Hello World example of the Amazon States Language using an AWS Lambda Function",
  "StartAt": "HelloWorld",
  "States": {
    "HelloWorld": {
      "Type": "Task",
      "Resource": ${jsonencode(hello_fn_arn)},
      "Parameters": {
        "stage.$": "$.stage",
        "failStages.$": "$.failStages"
      },
      "End": true
    }
  }
}
